<div class="container__main">
  <section class="section__form">
    <article class="section__form-article">
      <form action="/recuperacion-cuenta/send-form/{{id.id}}" method="post">
        <label for="">Ingresa tu nueva contraseña</label>
        <input type="password" name="pass" id="" />
        <label for="">Repite tu contraseña</label>
        <input type="password" name="repitePass" id="" />
        <input type="submit" value="Enviar" />
      </form>
    </article>
  </section>
</div>