<div class="container__main">
  <section class="container__form">
    <article>
      <form action="/recuperacion-cuenta/correo-enviado" method="post">
        <h1>Recuperaci贸n de cuenta</h1>
        <p>
          Escribe la direcci贸n de correo electr贸nico asociado a tu cuenta
        </p>
        <label for="">Direcci贸n de correo electronico</label>
        <input type="email" name="correo" id="" />
        {{#if mensaje}}
          <span>{{./mensaje}}</span>
        {{/if}}
        <input type="submit" value="Continuar" />
      </form>
    </article>
  </section>
</div>