<div class="container__main">
  <section class="container-msg">
    <p>Se a enviado un correo electronico a tu email.<br />
      {{#if mensaje}}
        <b>"{{./mensaje}}"</b>
        <br />
      {{/if}}
      Favor de revisar la badeja de spam
    </p>
  </section>
</div>