<div class="container-main">
  <div class="container-1">
    <article class="baner-preguntas">
      <h2 id="h2-dark" class="headline-h2">
        Preguntas frecuentes
      </h2>
    </article>
    <article class="container-preguntas">
      <div class="preguntas-text">
        <sub id="sub-1">¿Cómo puedo colaborar en el repositorio?</sub>
        <!-- Down Icon  -->
        <svg
          id="down-1"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Fup-1"
            d="M9.88 11.4534L16 17.56L22.12 11.4534L24 13.3334L16 21.3334L8 13.3334L9.88 11.4534Z"
            fill="#1B396A"
          ></path>
        </svg>
      </div>
      <div id="respuesta1" class="respuestas">
        <p id="anwser-p-1">Necesita tener una cuenta en el repositorio, si es
          <br />
          Estudiante(de Licenciatura o Maestría) o Docente puede
          <br />
          entrar con su correo institucional y la contraseña que se le envió a
          su correo. Si tiene algún problema con sus datos de ingreso
          comuníquese con los responsables del Repositorio Digital
          Institucional.</p>
      </div>

      <div class="preguntas-text">
        <sub id="sub-2">¿Dónde puedo saber más del proceso para subir mis
          documentos?</sub>
        <!-- Down Icon  -->
        <svg
          id="down-1"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Fup-1"
            d="M9.88 11.4534L16 17.56L22.12 11.4534L24 13.3334L16 21.3334L8 13.3334L9.88 11.4534Z"
            fill="#1B396A"
          ></path>
        </svg>
      </div>
      <div id="respuesta2" class="respuestas">
        <p id="anwser-p-2">Necesita tener una cuenta en el repositorio, si es
          <br />
          Estudiante(de Licenciatura o Maestría) o Docente puede
          <br />
          entrar con su correo institucional y la contraseña que se le envió a
          su correo. Si tiene algún problema con sus datos de ingreso
          comuníquese con los responsables del Repositorio Digital
          Institucional.</p>
      </div>

      <div class="preguntas-text">
        <sub id="sub-3">¿Qué tipo de documentos puedo subir?</sub>
        <!-- Down Icon  -->
        <svg
          id="down-1"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Fup-1"
            d="M9.88 11.4534L16 17.56L22.12 11.4534L24 13.3334L16 21.3334L8 13.3334L9.88 11.4534Z"
            fill="#1B396A"
          ></path>
        </svg>
      </div>
      <div id="respuesta3" class="respuestas">
        <p id="anwser-p-3">Necesita tener una cuenta en el repositorio, si es
          <br />
          Estudiante(de Licenciatura o Maestría) o Docente puede
          <br />
          entrar con su correo institucional y la contraseña que se le envió a
          su correo. Si tiene algún problema con sus datos de ingreso
          comuníquese con los responsables del Repositorio Digital
          Institucional.</p>
      </div>

      <div class="preguntas-text">
        <sub id="sub-4">¿Qué tipo de formato es válido?</sub>
        <!-- Down Icon  -->
        <svg
          id="down-1"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Fup-1"
            d="M9.88 11.4534L16 17.56L22.12 11.4534L24 13.3334L16 21.3334L8 13.3334L9.88 11.4534Z"
            fill="#1B396A"
          ></path>
        </svg>
      </div>
      <div id="respuesta4" class="respuestas">
        <p id="anwser-p-4">Necesita tener una cuenta en el repositorio, si es
          <br />
          Estudiante(de Licenciatura o Maestría) o Docente puede
          <br />
          entrar con su correo institucional y la contraseña que se le envió a
          su correo. Si tiene algún problema con sus datos de ingreso
          comuníquese con los responsables del Repositorio Digital
          Institucional.</p>
      </div>
    </article>
  </div>
  <div class="container-2">

    <div class="baner-manual">
      <div>
        <svg
          class="cursor tama"
          viewBox="0 0 16 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 0H2C0.9 0 0.0100002 0.9 0.0100002 2L0 18C0 19.1 0.89 20 1.99 20H14C15.1 20 16 19.1 16 18V6L10 0ZM12 16H4V14H12V16ZM12 12H4V10H12V12ZM9 7V1.5L14.5 7H9Z"
            fill="#141927"
          ></path>
        </svg>
        <h2>Manual de uso de repositorio digital</h2>
      </div>
    </div>
    <div class="container__info">
      <div class="info-text">
        <h5>Si usted no encontro respuesta a sus dudas, o tiene alguna
          sugerencia para mejorar en algo el repositorio digital puede
          contactarnos.</h5>
      </div>
      <div class="container__contactanos">
        <article><svg
            width="28"
            height="28"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.01 12.38C15.78 12.38 14.59 12.18 13.48 11.82C13.13 11.7 12.74 11.79 12.47 12.06L10.9 14.03C8.07 12.68 5.42 10.13 4.01 7.2L5.96 5.54C6.23 5.26 6.31 4.87 6.2 4.52C5.83 3.41 5.64 2.22 5.64 0.99C5.64 0.45 5.19 0 4.65 0H1.19C0.65 0 0 0.24 0 0.99C0 10.28 7.73 18 17.01 18C17.72 18 18 17.37 18 16.82V13.37C18 12.83 17.55 12.38 17.01 12.38Z"
              fill="#06A852"
            ></path>
          </svg></article>
        <article><svg
            class="img-source cursor"
            viewBox="0 0 20 16"
            fill="none"
            width="28"
            height="28"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="dark-messa"
              d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z"
              fill="#F2B90F"
            ></path>
          </svg></article>
      </div>

    </div>
  </div>
</div>