<div class="comunidades-lista-p">
                <p>
                <h1>Comunidades y colecciones</h1>
                </p>
                <p>
                <h3>A continuación se muestra un listado de todas las comunidades, subcomunidades y colecciones.
                    Haga clic sobre un nombre para ver su página principal.</h3>
                </p>
                <div class="contenedor__general">
                    {{comunidades comunidades}}
                </div>

            </div>