<link
  rel="stylesheet"
  href="\assets\css\nuevo-envio\nuevo-envio-general-style.css"
/><div class="container-envio-2">

                <div class="titulo">
                    <p>Nuevo envío</p>
                </div>

                <div class="pasos">
                    <div class="steps">
                        <div class="paso paso-terminado">
                            <h1>1</h1>
                        </div>
                        <a>Describir pt1</a>
                    </div>

                    <div class="steps">
                        <div class="paso paso-terminado">
                            <h1>2</h1>
                        </div>
                        <a>Describir pt2</a>
                    </div>

                    <div class="steps">
                        <div class="paso num-select">
                            <h1>3</h1>
                        </div>
                        <a class="paso-select">Acceder</a>
                    </div>

                    <div class="steps">
                        <div class="paso">
                            <h1>4</h1>
                        </div>
                        <a>Subir</a>
                    </div>

                    <div class="steps">
                        <div class="paso">
                            <h1>5</h1>
                        </div>
                        <a>Revisar</a>
                    </div>

                    

                    <div class="steps">
                        <div class="paso">
                            <h1>6</h1>
                        </div>
                        <a>Licencia</a>
                    </div>

                </div>
                <div class="describir-envio">
                    <div class="titulo-box">
                        <h2>Embargo</h2>
                    </div>

                    <div class="desc-env embargos">
                        <h3>Embargo hasta fecha</h3>
                        <div class="datos-1">
                            <div class=" datos fecha">
                                <label>Día</label>
                                <input class="input_desc" type="number" id="dia-emision" name="dia">
                            </div>
                            <div class="datos  fecha">
                                <label>Mes</label>
                                <select id="mes" name="mes" class="">
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero</option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class=" datos fecha fecha-embargo">
                                <label>Año</label>
                                <input class="input_desc" type="text" id="anio-emision" name="anio">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btns">
                    <div class="btn regresar">
                        <button id="back"> REGRESAR </button>
                    </div>

                    <div class="btn guardar-salir">
                        <button id="save-exit"> GUARDAR Y SALIR </button>
                    </div>

                    <div class="btn siguiente">
                        <button id="next"> SIGUIENTE </button>
                    </div>
                </div>