<link
  rel="stylesheet"
  href="\assets\css\nuevo-envio\nuevo-envio-general-style.css"
/>
<div class="container-envio-2">

  <div class="titulo">
    <p>Nuevo envío</p>
  </div>

  <div class="pasos">
    <div class="steps">
      <div class="paso paso-terminado">
        <h1>1</h1>
      </div>
      <a>Describir pt1</a>
    </div>

    <div class="steps">
      <div class="paso paso-terminado">
        <h1>2</h1>
      </div>
      <a>Describir pt2</a>
    </div>

    <div class="steps">
      <div class="paso paso-terminado">
        <h1>3</h1>
      </div>
      <a>Acceder</a>
    </div>

    <div class="steps">
      <div class="paso paso-terminado">
        <h1>4</h1>
      </div>
      <a>Subir</a>
    </div>

    <div class="steps">
      <div class="paso num-select">
        <h1>5</h1>
      </div>
      <a class="paso-select">Revisar</a>
    </div>

    <div class="steps">
      <div class="paso">
        <h1>6</h1>
      </div>
      <a>Licencia</a>
    </div>

  </div>

  <div class="describir-envio">
    <div class="titulo-box">
      <h2>Revisar envío</h2>
    </div>
    <div class="desc-env revisar-archivo">
      <h3>Describir ítem parte 1</h3>
      <div class="datos-1">

      </div>

      <div class="btn editar-p1">
        <button id="edit-p1">EDITAR</button>
      </div>

      <!-- Describir item parte 2 -->
      <h3>Describir ítem parte 2</h3>
      <div class="datos-1">

      </div>

      <div class="btn editar-p2">
        <button id="edit-p2">EDITAR</button>
      </div>

      <!-- Subir archivos -->
      <h3>Subir archivo(s)</h3>

      <div class="datos-1">

      </div>

      <div class="btn editar-archivos-subidos">
        <button id="edit-loaded-files">EDITAR</button>
      </div>

    </div>
  </div>

  <div class="btns">
    <div class="btn regresar">
      <button id="back"> REGRESAR </button>
    </div>

    <div class="btn guardar-salir">
      <button id="save-exit"> GUARDAR Y SALIR </button>
    </div>

    <div class="btn siguiente">
      <button id="next"> SIGUIENTE </button>
    </div>
  </div>
</div>