<link
  rel="stylesheet"
  href="\assets\css\nuevo-envio\nuevo-envio-general-style.css"
/>
<div class="container-envio-2">

  <div class="titulo">
    <p>Nuevo envío</p>
  </div>

  <div class="pasos">
    <div class="steps">
      <div class="paso paso-terminado">
        <h1>1</h1>
      </div>
      <a>Describir pt1</a>
    </div>

    <div class="steps">
      <div class="paso paso-terminado">
        <h1>2</h1>
      </div>
      <a>Describir pt2</a>
    </div>

    <div class="steps">
      <div class="paso paso-terminado">
        <h1>3</h1>
      </div>
      <a>Acceder</a>
    </div>

    <div class="steps">
      <div class="paso paso-terminado">
        <h1>4</h1>
      </div>
      <a>Subir</a>
    </div>

    <div class="steps">
      <div class="paso paso-terminado">
        <h1>5</h1>
      </div>
      <a>Revisar</a>
    </div>

    <div class="steps">
      <div class="paso num-select">
        <h1>6</h1>
      </div>
      <a class="paso-select">Licencia</a>
    </div>

  </div>

  <div class="describir-envio">
    <div class="titulo-box">
      <h2>Licencie su trabajo </h2>
    </div>
    <div class="desc-env revisar-archivo">
      <div class="info-adicional-2 info-text">
        <article>
          Queda un último paso: para permitir reproducir, traducir y distribuir
          su envío a través del mundo, necesitamos su conformidad en los
          siguientes términos.

          <br /><br />
          Conceda la licencia de distribución estándar seleccionando 'Conceder
          licencia' y pulsando 'Completar envío'.

          <br /><br />Al aceptar el envío del ítem, usted está aceptando la
          licencia Creative Commons selecionada. No se realizarán usos
          comerciales o modificaciones a su obra. Gracias

          <br /><br />Si tiene alguna duda sobre la licencia, por favor,
          contacte con el administrador del sistema.

        </article>
      </div>
      <h3>Licencia de distribución</h3>

      <div class="licencia-1">
        <input
          type="checkbox"
          name="conceder-licencia"
          id="conceder-licencia-1"
        />
        <label for="">Conceder licencia</label>
      </div>

    </div>
  </div>

  <div class="btns">
    <div class="btn regresar">
      <button id="back">
        REGRESAR
      </button>
    </div>

    <div class="btn guardar-salir">
      <button id="save-exit"> GUARDAR Y SALIR </button>
    </div>

    <div class="btn siguiente">
      <button id="next">
        SUBIR ARCHIVO
      </button>
    </div>
  </div>
</div>