<div class="contenedor__visualizar">

    <div class="contenedor__titulo">
        <p>Ingeniería en sistemas computacionales</p>
    </div>

    <div class="contenedor__datos">
        
        <div class="contenedor__banner">
            <h2>Servicios Web en la industria 4.0</h2>
        </div>

        <div class="cantidad-archivos">
            <article>Mostrando 1 de 3 </article>
        </div>

        <div class="cuerpo-visualizar">
            
            <div class="regresar-archivo">
                <img src="/assets/img/arrow-left.svg" alt="" class="svg-arrow-left">
            </div>

            <div class="miniatura-archivo">
                <img src="/assets/img/documento-doc.png " alt="">
                <div class="fondo">
                    <figcaption><a href="/archivo/visualizar/{{id}}" target="_blank">Visualizar</a></figcaption>
                </div>
            </div>

            {{viewDocumento documento}}

            <div class="adelantar-archivo">
                <img src="/assets/img/arrow-right.svg" alt="" class="svg-arrow-right">
            </div>

        </div>

    </div>