<div class="modal__archivo">
                <div class="modal__archivo-container">
                    <div class="vista-pdf">
                                        {{parseBuffer buffer}}

                    </div>
                </div>
            </div>