<div class="container-normatividad">
                <div class="titulo">
                    <p>Normatividad</p>
                </div>

                <div class="normas">
                    <div class="caja politicas">
                        <div class="archivo">
                            <img href="" src="/assets/normatividad-politicas.png" alt="Politicas del RDI">
                        </div>
                        <div class="info">
                            <h2>Políticas del Repositorio Digital Institucional</h2>
                        </div>

                    </div>

                    <div class="caja condiciones">
                        <div class="archivo">
                            <img src="/assets/normatividad-terminos.png" alt="Términos y condiciones del RDI">
                        </div>
                        <div class="info">
                            <h2>Términos y condiciones del uso del Repositorio Digital Institucional</h2>
                        </div>

                    </div>

                    <div class="caja licencias">
                        <div class="archivo">
                            <img src="/assets/normatividad-licencias.png" alt="Licencias del RDI">
                        </div>
                        <div class="info">
                            <h2>Tipos de licencias. Creative commons</h2>
                        </div>
                        
                    </div>
                </div>

            </div>